@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
